<form class="example-form">
  <div>
    <mat-form-field style="width: 60%">
      <input matInput placeholder="Task" [(ngModel)] = "this.toggl.task" [ngModelOptions]="{standalone: true}">
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Projects">
          <mat-option *ngFor="let p of projects" [value]="p.name">
            {{ p.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <h2>{{this.toggl.horas}}: {{this.toggl.minutos}} : {{this.toggl.segundos}}</h2>
    <button mat-icon-button color="primary" (click)="timeStart()">
      <mat-icon aria-label="Example icon-button with a heart icon">play_arrow</mat-icon>
    </button>
  
    <button mat-icon-button color="primary" (click)="timeStop()">
      <mat-icon aria-label="Example icon-button with a heart icon">stop</mat-icon>
    </button>
  
    <button [disabled] = "!canSave" mat-icon-button color="primary" (click)="saveToggl()">
      <mat-icon aria-label="Example icon-button with a heart icon">save</mat-icon>
    </button>    
  </div>

  
</form>

<div>                   

    <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th >Task</th>
            <th scope="col">Horas</th>
            <th scope="col">Mins</th>
            <th scope="col">Segs</th>                    
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let t of toggls">  
            <td>{{t.task}}</td>
            <td>{{t.horas}}</td>
            <td>{{t.minutos}}</td>
            <td>{{t.segundos}}</td>              
          </tr>
        </tbody>
      </table>
  
</div> 