
    
  <mat-toolbar color="primary">
      <form class="form-inline">
        
          <button mat-icon-button color="white" id="qsLoginBtn"
            class="btn btn-primary my-2 my-sm-0"
            *ngIf="!auth.isAuthenticated()"
            (click)="auth.login()" type="button">
            <mat-icon>perm_identity</mat-icon>
              
          </button>
  
          <button mat-icon-button color="white" id="qsLogoutBtn"
            class="btn btn-primary my-2 my-sm-0"
            *ngIf="auth.isAuthenticated()"
            (click)="auth.logout()" type="button">
            <mat-icon>lock</mat-icon>
              
          </button>  
        </form>
  </mat-toolbar>

   
<div role="main" class="container">
  <router-outlet></router-outlet>
</div>

